# Domoticz Conf file for Domoticz BASH Scipts by DaKarlii https://github.com/DaKarlii
# Domoticz Server Settings
SERVER='localhost:8080/'                            # Domoticz Server Url

# Seetings for doozmo.sh script
VACSTATIDX=101                                      # Domoticz IDX for Ozmo Status (Type: Virtual, General, Text)
VACBATTIDX=102                                      # Domoticz IDX for Ozmo Battery (Type: Virtual, General, Percentage)
VACMODIDX=103                                       # Domoticz IDX for Ozmo Modus (Type: Virual, General, Switch)  
deebotlib='/scripts/deebot/venv/bin/deebotozmo'     # Edit path if you installed the deebotozmo libary to another location

# Global Settings (Dont Change if you dont know what you do)
SERVER_CMD='json.htm?type=command&param=udevice&'           # changes only Value but dont triggers an action
SWITCH_CMD='json.htm?type=command&param=switchlight&'       # changes Value and triggers the action directly 